<%  include common/header.html %>
    <%  include common/topbar.html %>
        <div class="deliver">
            <div class="deliver-title">某某广告计划物料预览</div>
            <div class="material-pic">
                <img src="../img/materialPic.jpg">
            </div>
            <div class="material-detailed">
                <span class="detailed-icon"><i class="fa fa-caret-up"></i></span>
                <table class="detailed-table">
                    <tr>
                        <td>物料名称</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>所属广告计划</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>所属广告组</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>物料类型</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>尺寸</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>链接地址</td>
                        <td>hehe</td>
                    </tr>
                    <tr>
                        <td>是否自动投放到竞品车型</td>
                        <td>hehe</td>
                    </tr>
                </table>
            </div>
            <div class="material-pic">
                <img src="../img/materialPic.jpg">
            </div>
            
            <div class="material-detailed">
                <span class="detailed-icon"><i class="fa fa-caret-down"></i></span>
                <table class="detailed-table">
                    <tr>
                        <td>物料名称</td>
                        <td>hehe</td>
                    </tr>
                </table>
            </div>
        </div>
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/zhangjing/main");
            </script>
