<%  include common/header.html %>
    <%  include common/topbar.html %>
        <div class="home">
            <div class="main">
                <div class="main_list">
                    <div class="list_wrap">
                        <dl class="list_green clearfix">
                            <dt class="clearfix">
                                <a href="">
                                    <i class="fa fa-plus"></i>新建广告</a>
                            </dt>
                            <dd>
                                <div class="list-content">
                                    <a href="#">投放广告流程说明</a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="list_wrap">
                        <dl class="list_orange clearfix">
                            <dt class="clearfix">
                                <a href="">广告计划
                                <i class="fa fa-caret-right"></i></a>
                            </dt>
                            <dd>
                                <ul>
                                    <li>
                                        <em>22</em>
                                        <p>草稿</p>
                                    </li>
                                    <li>
                                        <em>0</em>
                                        <p>即将投放</p>
                                    </li>
                                    <li>
                                        <em>2</em>
                                        <p>正在投放</p>
                                    </li>
                                    <li>
                                        <em>1</em>
                                        <p>暂停</p>
                                    </li>
                                    <li>
                                        <em>22</em>
                                        <p>已完成</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="list_wrap">
                        <dl class="list_red clearfix">
                            <dt class="clearfix">
                                <a href="">广告计划
                                <i class="fa fa-caret-right "></i>
                            </a></dt>
                            <dd>
                                <ul>
                                    <li>
                                        <em>22</em>
                                        <p>草稿</p>
                                    </li>
                                    <li>
                                        <em>0</em>
                                        <p>即将投放</p>
                                    </li>
                                    <li>
                                        <em>2</em>
                                        <p>正在投放</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="list_wrap">
                        <dl class="list_blue clearfix">
                            <dt class="clearfix">
                                <a href="">广告计划
                                <i class="fa fa-caret-right "></i>
                            </a></dt>
                            <dd>
                                <ul>
                                    <li>
                                        <em>22</em>
                                        <p>草稿</p>
                                    </li>
                                    <li>
                                        <em>0</em>
                                        <p>即将投放</p>
                                    </li>
                                    <li>
                                        <em>2</em>
                                        <p>正在投放</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="main_ADtime">
                    <h4 class="title-blue">广告计划到期时间</h4>
                    <div class="main_table">
                        <ul class="list-group clearfix">
                            <li class=" list-group-item clearfix"><a href="">今天</a>
                                <a href="">明天</a>
                                <a href="">10月25日</a>
                                <a href="">10月26日</a>
                                <a href="">10月27日</a>
                                <a href="">10月28日</a>
                                <a href="">10月29日</a></li>
                            <li class="list-group-item">广告计划名称
                                <span>
                                <a href="#">
                            <i class="fa fa-edit"></i>
                            编辑</a>
                            <a href="#">
                            <i class="fa fa-bar-chart-o"></i>报告</a>
                            </span>
                            </li>
                            <li class="list-group-item">广告计划名称
                                <span><a href="#">
                            <i class="fa fa-edit"></i>
                            编辑</a><a href="#">
                            <i class="fa fa-bar-chart-o"></i>报告</a>
                            </span>
                            </li>
                            <li class="list-group-item">广告计划名称
                                <span><a href="#">
                            <i class="fa fa-edit"></i>
                            编辑</a><a href="#">
                            <i class="fa fa-bar-chart-o"></i>报告</a>
                            </span>
                            </li>
                            <li class="list-group-item">广告计划名称
                                <span><a href="#">
                            <i class="fa fa-edit"></i>
                            编辑</a><a href="#">
                            <i class="fa fa-bar-chart-o"></i>报告</a>
                            </span>
                            </li>
                            <li class="list-group-item">广告计划名称
                                <span><a href="#">
                            <i class="fa fa-edit"></i>
                            编辑</a><a href="#">
                            <i class="fa fa-bar-chart-o"></i>报告</a>
                            </span>
                            </li>
                        </ul>
                        <div class="right-pages clearfix">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="main_block">
                    <h4 class="title-blue">汽车品牌营销事业部</h4>
                    <div class="main_select clearfix">
                        <div class="col-xs-2">
                            <select class="chosen" data-node="chosen">
                                <option value="-1">全部状态</option>
                                <option value="0">草稿</option>
                                <option value="1">即将投放</option>
                                <option value="2">正在投放</option>
                                <option value="3">已完成</option>
                                <option value="4">暂停</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group date" data-node="datetimepicker">
                                <input type="text" class="form-control" name="start_date">
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="main_select_left">到</div>
                        <div class="col-xs-2">
                            <div class="input-group date" data-node="datetimepicker">
                                <input type="text" class="form-control" name="start_date">
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="main_echars">
                        <img src="../img/flowPerEchars.png">
                    </div>
                    <!-- 栅格系统 -->
                    <!-- 
                    <div class="main_trend">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="main_trend_content main_trend_green">
                                    <p class="content_word">点击量</p>
                                    <p class="content_num">124,567,891</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="main_trend_content main_trend_orange">
                                    <p class="content_word">点击量</p>
                                    <p class="content_num">124,567,891</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="main_trend_content main_trend_blue">
                                    <p class="content_word">点击量</p>
                                    <p class="content_num">124,567,891</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="main_trend_content main_trend_red">
                                    <p class="content_word">点击量</p>
                                    <p class="content_num">124,567,891</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="main_trend clearfix">
                        <ul>
                            <li>
                                <div class="main_trend_contnet">
                                    <div class="main_trend_content main_trend_green">
                                        <p class="content_word">点击量</p>
                                        <p class="content_num">124,567,891</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="main_trend_contnet">
                                    <div class="main_trend_content main_trend_orange">
                                        <p class="content_word">点击量</p>
                                        <p class="content_num">124,567,891</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="main_trend_contnet">
                                    <div class="main_trend_content main_trend_blue">
                                        <p class="content_word">点击量</p>
                                        <p class="content_num">124,567,891</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="main_trend_contnet">
                                    <div class="main_trend_content main_trend_red">
                                        <p class="content_word">点击量</p>
                                        <p class="content_num">124,567,891</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main_block">
                    <h4 class="title-blue">汽车品牌营销事业部广告主的流量区域报告</h4>
                    <div class="area_content">
                        <div class="main_echars">
                            <img src="../img/indexMap.png">
                        </div>
                        <div class="map-sort">
                            <select class="chosen" data-node="chosen">
                                <option value="0">请输入</option>
                                <option value="1">北京</option>
                                <option value="2">上海</option>
                                <option value="3">广州</option>
                            </select>
                            <ul class="sort-list">
                                <li>
                                    <i class="sort-num">1</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:80%"></b>
                            </span>
                                    <span class="sort-pre">80%</span>
                                </li>
                                <li>
                                    <i class="sort-num">2</i><span class="sort-name">北京</span>
                                    <span class="sortprogress">
                            <b style="width:70%"></b>
                            </span>
                                    <span class="sort-pre">70%</span>
                                </li>
                                <li>
                                    <i class="sort-num">3</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:60%"></b>
                            </span>
                                    <span class="sort-pre">60%</span>
                                </li>
                                <li>
                                    <i class="sort-num">3</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:50%"></b>
                            </span>
                                    <span class="sort-pre">50%</span>
                                </li>
                                <li>
                                    <i class="sort-num">4</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:40%"></b>
                            </span>
                                    <span class="sort-pre">40%</span>
                                </li>
                                <li>
                                    <i class="sort-num">5</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:30%"></b>
                            </span>
                                    <span class="sort-pre">30%</span>
                                </li>
                                <li>
                                    <i class="sort-num">6</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:20%"></b>
                            </span>
                                    <span class="sort-pre">20%</span>
                                </li>
                                <li>
                                    <i class="sort-num">7</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:10%"></b>
                            </span>
                                    <span class="sort-pre">10%</span>
                                </li>
                                <li>
                                    <i class="sort-num">8</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:5%"></b>
                            </span>
                                    <span class="sort-pre">5%</span>
                                </li>
                                <li>
                                    <i class="sort-num">9</i><span class="sort-name">上海</span>
                                    <span class="sortprogress">
                            <b style="width:1%"></b>
                            </span>
                                    <span class="sort-pre">1%</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/zhangjing/main");
            </script>
