<%  include common/header.html %>
    <%  include common/topbar.html %>
        <div class="index-move">
            <div class="dad-index">
                <div class="move-title">
                    异动提醒
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">2015/11/17 16:16 <span class="move-operator">操作人：老王</span></h3>
                    </div>
                    <div class="panel-body">
                        <P>操作对象：<span class="move-content">暂停广告计划</span></P>
                        <P>对象名称：<span class="move-content">暂停广告计划</span></P>
                        <P>操作内容：<span class="move-content">630-马自达</span></P>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">2015/11/17 16:16 <span class="move-operator">操作人：老王</span></h3>
                    </div>
                    <div class="panel-body">
                        <P>操作对象：<span class="move-content">暂停广告计划</span></P>
                        <P>对象名称：<span class="move-content">暂停广告计划</span></P>
                        <P>操作内容：<span class="move-content">630-马自达</span></P>
                    </div>
                </div>
            </div>
        </div>
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/blank/main");
            </script>
