<%  include common/header.html %>
        <div class="index-err">
            <div class="dad-index">         
             <div class="err-content">
                 <img src="../img/404.png">
                 <p class="err-prompt">啊哦，页面出错了，你来到了404星球...5秒后开始返航</p>

                 <button class="err-back"><a href="#">返回首页</a></button>
             </div>
            </div>
        </div>
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/blank/main");
            </script>
