<%  include common/header.html %>
    <%  include common/topbar.html %>
        <div class="index-move">
            <div class="dad-index">
                <div class="move-title">
                    广告主管理
                </div>
                <button class="add-newperson"><i class="fa fa-plus"></i>添加广告主</button>
                <div class="add-table">
                    <table class="table">
                        <tr>
                            <th>广告主名称</th>
                            <th>简介</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>汽车品牌营销事业部</td>
                            <td>正式业务：产品自营，运营勿动</td>
                            <td>
                                <a href="#"> <i class="fa fa-edit"></i> 编辑
                                </a>
                                <a href="#"> <i class="fa fa-times"></i> 删除
                                </a>
                            </td>
                        </tr>
                         <tr>
                            <td>汽车品牌营销事业部</td>
                            <td>正式业务：产品自营，运营勿动</td>
                            <td>
                                <a href="#"> <i class="fa fa-edit"></i> 编辑
                                </a>
                                <a href="#"> <i class="fa fa-times"></i> 删除
                                </a>
                            </td>
                        </tr>
                         <tr>
                            <td>汽车品牌营销事业部</td>
                            <td>正式业务：产品自营，运营勿动</td>
                            <td>
                                <a href="#"> <i class="fa fa-edit"></i> 编辑
                                </a>
                                <a href="#"> <i class="fa fa-times"></i> 删除
                                </a>
                            </td>
                        </tr>
                         <tr>
                            <td>汽车品牌营销事业部</td>
                            <td>正式业务：产品自营，运营勿动</td>
                            <td>
                                <a href="#"> <i class="fa fa-edit"></i> 编辑
                                </a>
                                <a href="#"> <i class="fa fa-times"></i> 删除
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/blank/main");
            </script>
