<%  include common/header.html %>
    <%  include common/topbar.html %>
        <!-- Fixed navbar -->
        <div class="dad-index">
            <div class="index-panel">
                <!--左面板-->
                <div class="panel-left">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-plus"></i>新建广告</h3>
                        </div>
                        <div class="panel-body">
                            <p class="panel-new">
                                投放广告流程说明
                            </p>
                        </div>
                    </div>
                    <div class="panel  panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">广告计划</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <ol class="breadcrumb">
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                </ol>
                            </p>
                        </div>
                    </div>
                    <div class="panel  panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">广告组</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <ol class="breadcrumb">
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                </ol>
                            </p>
                        </div>
                    </div>
                    <div class="panel  panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">物料</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <ol class="breadcrumb">
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                    <li><a href="#">10<p>草稿</p></a></li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-right">
                    <p class="index-title">广告计划到期提醒</p>
                    <div class="index-table">
                            <div id="table2"></div>
                    </div>
                   
                </div>
            </div>
            <div class="index-chars">
                <p class="index-title">汽车品牌营销事业部广告主的整体流量报告</p>
                <div class="person-select">
                    <div class="person-data">
                        <!-- person-lately start-->
                        <div class="person-lately">
                            <select class="chosen" data-node="chosen">
                                <option value="-1">最近七天</option>
                                <option value="0">最近十五天</option>
                                <option value="1">最近一个月</option>
                                <option value="2">正在投放</option>
                                <option value="3">已完成</option>
                                <option value="4">暂停</option>
                            </select>
                        </div>
                        <!-- person-lately stop-->
                        <!-- person-date start -->
                        <div class="person-date clearfix">
                            <div class="input-group date" data-node="datetimepicker">
                                <input type="text" class="form-control" name="start_date">
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="input-word">到</span>
                            <div class="input-group date" data-node="datetimepicker">
                                <input type="text" class="form-control" name="start_date">
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <!-- person-date stop -->
                       
                    </div>
                </div>
                <div class="index-echars">
                    <img src="../img/indexEchars.png">
                </div>
            </div>
            <div class="index-map">
                <p class="index-title">汽车品牌营销事业部广告主的整体流量报告</p>
                <div class="map-echars">
                    <img src="../img/indexMap.png">
                </div>
                <div class="map-sort">
                    <select class="chosen" data-node="chosen">
                        <option value="0">请输入</option>
                        <option value="1">北京</option>
                        <option value="2">上海</option>
                        <option value="3">广州</option>
                    </select>
                    <ul class="sort-list">
                        <li>
                            <i class="sort-num">1</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:80%"></b>
                            </span>
                            <span class="sort-pre">80%</span>
                        </li>
                        <li>
                            <i class="sort-num">2</i><span class="sort-name">北京</span>
                            <span class="sortprogress">
                            <b style="width:70%"></b>
                            </span>
                            <span class="sort-pre">70%</span>
                        </li>
                        <li>
                            <i class="sort-num">3</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:60%"></b>
                            </span>
                            <span class="sort-pre">60%</span>
                        </li>
                        <li>
                            <i class="sort-num">3</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:50%"></b>
                            </span>
                            <span class="sort-pre">50%</span>
                        </li>
                        <li>
                            <i class="sort-num">4</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:40%"></b>
                            </span>
                            <span class="sort-pre">40%</span>
                        </li>
                        <li>
                            <i class="sort-num">5</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:30%"></b>
                            </span>
                            <span class="sort-pre">30%</span>
                        </li>
                        <li>
                            <i class="sort-num">6</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:20%"></b>
                            </span>
                            <span class="sort-pre">20%</span>
                        </li>
                        <li>
                            <i class="sort-num">7</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:10%"></b>
                            </span>
                            <span class="sort-pre">10%</span>
                        </li>
                        <li>
                            <i class="sort-num">8</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:5%"></b>
                            </span>
                            <span class="sort-pre">5%</span>
                        </li>
                        <li>
                            <i class="sort-num">9</i><span class="sort-name">上海</span>
                            <span class="sortprogress">
                            <b style="width:1%"></b>
                            </span>
                            <span class="sort-pre">1%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%  include common/footer.html %>
            <script>
            seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/zhangjing/main");
            </script>
