<%  include common/header.html %>
    <div class="index-err">
        <div class="dad-index">
            <div class="err-content">
                <img src="../img/nobody.png">
                <div class="nobody-prompt">
                    <p>温馨提示</p>
                    <p class="nobody-content">您的账号暂无广告主</p>
                    <p>请先申请开通广告权限，联系人：粟艳艳，邮箱地址：summersu@yiche.com</p>
                </div>
            </div>
        </div>
    </div>
    <%  include common/footer.html %>
        <script>
        seajs.use("http://bigstatic.bitautoimg.com/apps/DataTest/js/pages/blank/main");
        </script>
