@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Microsoft Yahei', Arial, sans-serif;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

input,
textarea {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    height: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
    text-decoration: none;
}

fieldset,
img {
    border: none;
}

label,
button {
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    *font-size: 100%;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #FFF;
}

input::-ms-clear {
    display: none;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    overflow: hidden;
}

body,
html {
    font-size: 14px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
   display: inline-block;
   color: #99A2AF;
}
.icon-chuangjian:before { content: "\e642"; }
.icon-wodeshenqing:before { content: "\e624"; }
.icon-tijiao:before { content: "\e61d"; }
.icon-tongguoupast:before { content: "\e669"; }
.icon-butongguodechacha:before { content: "\e640"; }
.icon-time:before { content: "\e65f"; }